<div class="row">
    <div class="col-3 col-md-3 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-success" data-background-color="green">
                    <i class="material-icons">fingerprint</i>
            </div>
            <div class="card-content">
                <p class="category">Pessoas com Biometria</p>
                <h3 class="title" style="font-size: xx-large; text-align:center"><%= @people.count %></h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons"></i>
                    <a href="#"> </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-3 col-md-3 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-warning" data-background-color="green">
                <i class="fa fa-address-card"></i>
            </div>
            <div class="card-content">
                <p class="category">Pessoas sem biometria</p>
                <h3 class="title" style="font-size: xx-large; text-align:center"><%= @peopleWithoutFingerprint.count %></h3>
            </div>
            <div class="card-footer">
                <div style="width: 100%; text-align: center">                    
                    <a href="/admin/people/without_fingerprint" target="_blank">Imprimir</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-3 col-md-3 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-success" data-background-color="green">
                <i class="fa fa-birthday-cake"></i>
            </div>
            <div class="card-content">
                <p class="category">Anivers. do mês</p>
                <h3 class="title" style="font-size: xx-large; text-align:center"><%= @people_has_birthday_this_month.count %></h3>
            </div>
            <div class="card-footer">
                <div style="width: 100%; text-align:center" align="center">                    
                    <a href="/admin/people/birthdays_month" target="_blank">Imprimir</a>
                </div>
            </div>
        </div>
    </div>    

    <div class="col-3 col-md-3 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-warning" data-background-color="orange">
                    <i class="fa fa-calendar"></i>
            </div>            
            <div class="card-content">
                <p class="category">Empréstimos</p>
                <h3 class="title" style="font-size: xx-large; text-align:center">0</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons"></i>
                    <a href="#"> </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header card-chart card-header-success" data-background-color="green">
                <div class="ct-chart" id="dailySalesChart">
                    <%= scatter_chart State.pluck(:name, :uf) %>
                </div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Gráfico 1</h4>
                <p class="card-category">Descrição 1</p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i> Visualizar
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header card-chart card-header-warning" data-background-color="orange">
                <div class="ct-chart" id="emailsSubscriptionChart">
                    <%= scatter_chart State.pluck(:name, :uf) %>
                </div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Gráfico 2</h4>
                <p class="card-category">Descrição 2</p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i> Visualizar
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header card-chart card-header-success" data-background-color="green">
                <div class="ct-chart" id="completedTasksChart">
                    <%= scatter_chart State.pluck(:name, :uf) %>
                </div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Gráfico 3</h4>
                <p class="card-category">Descrição 3</p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i> Visualizar
                </div>
            </div>
        </div>
    </div>
</div>
<script> 
  jQuery(function($){
    $('#liHome').addClass("active");
    $.notify("<%= notice %>", "success" );
  });
</script> 