<p id="notice"><%= notice %></p>

<p>
  <strong>Profile:</strong>
  <%= @profile_permission.profile %>
</p>

<p>
  <strong>Permission:</strong>
  <%= @profile_permission.permission %>
</p>

<%= link_to 'Edit', edit_profile_permission_path(@profile_permission) %> |
<%= link_to 'Back', profile_permissions_path %>
