<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-success" data-background-color="green">
        <div class="row">
          <div class="col">
            <h4 class="title">Permissões por perfil</h4>                
          </div>              
        </div>
      </div>  

      <br/>
      <div class="row justify-content-center d-flex align-items-center"> 
        <div class="col-10">
          <%= collection_select(:profile, :id, Profile.all.order(:description), :id, :description,
          {:prompt => 'Selecione o perfil'}, {:class => 'custom-select', data: {style: "btn btn-primary"}}) %>  
        </div>
      </div>

      <div class="row justify-content-center d-flex align-items-center">
        <div class="col-11">
          <div class="card-content table-responsive">                      
            <br/>
            <table class="table table-striped" id="tablePermissions">
              <tbody>
                <% @permissions.each do |permission| %>    
                  <% if permission.father.nil? %>  
                  <tr>             
                    <td width="5%" >
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value=<%= permission.id %> >&nbsp;
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                    </td>
                    <td style="font-weight: bold"><%= permission.description %></td>
                    <td></td>
                  </tr>
                  <% end %>
                  <% @permissions.each do |perm| %> 
                    <% if perm.father == permission.id %>
                      <tr>
                        <td width="5%" style="padding-left: 50px">                          
                        </td>
                        <td
                          <div>
                            <input type="checkbox" value=<%= perm.id %>>&nbsp; <%= perm.description %>
                          </div>                          
                        </td>
                        <td></td>
                      </tr>
                    <% end %>
                  <% end %>
                <% end %>
              </tbody>
            </table>
            <br/>
          </div>
        </div>
      </div>     
      <div class="row" id="rowButtons"> 
        <div class="col-11"> 
          <div class="btn-group pull-right">        
            <button id="btnGravar" class="btn btn-success">Gravar</button>
            <button id="btnCancelar" class="btn btn-danger">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script> 
  jQuery(function($){
    $.notify("<%= notice %>", "success" );
    
    $("#profile_id").on("change", function(event) {
      var profile_id = $("#profile_id").val();
      if( profile_id = ''){
        return false;
      }

      if( profile_id == 1 ){
        $('#rowButtons').css("visibility", "hidden");
      }else{
        $('#rowButtons').css("visibility", "visible");
      }
      get_permissions(event);
    });

    var get_permissions = function(event) {           
      var profile_id = $("#profile_id").val();

      $.ajax({
        url: "/admin/profile_permissions/" + profile_id +"/get_permissions/",
        type: "GET",
        data: {"profile_id" : profile_id},
        success: function(data, status, jqXHR){
          var json = jqXHR.responseJSON;                            
          var profile_permissions = json.profile_permissions;
          var table = $('#tablePermissions');

          $('input[type="checkbox"]').prop('checked', false);

          for (var i = 0; i < profile_permissions.length; i++) {
            table.find('tbody').find('tr').each(function(indice){
              var row = $(this);
              if(row.find('input[type="checkbox"]').val() == profile_permissions[i].permission_id ) {
                row.find('input[type="checkbox"]').prop('checked', true);
              }
            });
          }
        },
        error: function(o, status, error) {
          var json = o.responseJSON;          
        }
      });

      $("#btnGravar").on("click", function(event){
        var table = $('#tablePermissions');
        
        var profile_permissions = [];
        var profile_id = $("#profile_id").val();

        table.find('tbody').find('tr').each(function(indice){
          var row = $(this);
          if(row.find('input[type="checkbox"]').is(':checked')) {
            var profile_permission = new Object();
            profile_permission['profile_id'] = profile_id;
            profile_permission['permission_id'] = row.find('input[type="checkbox"]').val();
            profile_permissions.push(profile_permission);
          }
        });

        $.ajax({
          url: "/admin/profile_permissions/",
          type: "POST",
          data: {"profile_id" : profile_id,
                 "profile_permissions": profile_permissions},
          success: function(data, status, jqXHR){
            var json = jqXHR.responseJSON;                    
            alert('Permissões gravadas com sucesso!');
          },
          error : function(jqXHR, textStatus, errorThrown){
            var json = jqXHR.responseJSON;  
          }
        });  

        
      });
    }; 

  });
</script>