<%- model_class = Company -%>
<%= form_for [:admin, @company], :html => { remote: true, :class => "form-horizontal company" } do |f| %>

  <% content_for :head do %>
    <%= javascript_include_tag 'notify' %>
  <% end %>
   
  <div class="row">
    <div class="col-8 form-group">               
      <%= f.label :name, :class => 'control-label' %>
      <%= f.text_field :name, :class => 'form-control' %>            
    </div>
    <div class="col-4 form-group">            
      <%= f.label :telephone, :class => 'control-label' %>          
      <%= f.text_field :telephone, :class => 'form-control' %>            
    </div>
  </div>

  <%= f.fields_for :address do |a| %>
    <div class="row">
        <div class="col-4 form-group">     
          <%= f.label :zip_code, :class => 'control-label' %>       
          <%= a.text_field :zip_code, :class => 'form-control' %>                
        </div>
        <div class="col-8 form-group">         
          <%= f.label :street, :class => 'control-label' %>       
          <%= a.text_field :street, :class => 'form-control' %>                
        </div>
    </div>

    <div class="row">
      <div class="col-4 form-group">
        <%= f.label :number, :class => 'control-label' %>              
        <%= a.text_field :number, :class => 'form-control' %>              
      </div>
      <div class="col-8 form-group">        
        <%= f.label :complement, :class => 'control-label' %>      
        <%= a.text_field :complement, :class => 'form-control' %>              
      </div>
    </div>
    
    <div class="row">
      <div class="col-4 form-group">    
        <%= f.label :reference, :class => 'control-label' %>                         
        <%= a.text_field :reference, :class => 'form-control' %>
      </div>

      <div class="col-8 form-group">  
        <%= f.label :neighbourhood, :class => 'control-label' %>                        
        <%= a.text_field :neighbourhood, :class => 'form-control' %>              
      </div>
    </div>
    
    <div class="row">
      <div class="col-4">
        <%= a.collection_select(:state_id, State.all, :id, :name,
        {:prompt => 'Estado'}, {:class => 'btn btn-success custom-select'}) %>
      </div>
      <div class="col-8">
        <%= a.select(:city_id, City.where(:state_id => a.object.state_id ).collect{|s| [s.name, s.id]}, 
          {:prompt => 'Cidade'}, {:class => 'btn btn-default custom-select'} ) %>                          
      </div>
    </div>      
  <% end %>   

  <div class="row">
    <div class="col-12">
      <div class="btn-group pull-right" style="padding-top: 10px">
        <%= f.submit nil, :class => 'btn btn-success' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  admin_companies_path, :class => 'btn btn-danger' %>
      </div>
    </div>
  </div> 

<% end %>

<script> 
  jQuery(function($){    

    var city_id;
    var state_id;

    $("#company_name").focus();
    
    $("#company_address_attributes_zip_code").on("focus", function(event) { 
      $(this).mask("99.999-999");
    });
    $("#company_telephone").on("focus", function(event) { 
      $(this).mask("(99)99999-9999");
    });

    $("#company_address_attributes_zip_code").on("blur", function(event) { 
      $(this).unmask();
      if($(this).val().length > 0){
        getCep(event);
      }      
    });
    $("#company_telephone").on("blur", function(event) { 
      $(this).unmask();
    });

    $('#liSede').addClass("active");

    $('#company_address_attributes_state_id').change(function () {
      var id = $(this).val();   
      if( state_id === id)
        return;

      $.ajax({
        url: "/admin/companies/" + 99 +"/load_cities/",
        type: "GET",
        data: {"state_id" : id},
        success: function(data, status, jqXHR){
          var json = jqXHR.responseJSON;          
          var options = '';
          
          $("#company_address_attributes_city_id").empty();

          for (var i = 0; i < json.length; i++) {
            options += '<option value="' + json[i].id + '">' + json[i].name + '</option>';
          }
          $("#company_address_attributes_city_id").append(options);
          $("#company_address_attributes_city_id").val(city_id);          
        },
        error: function(o, status, error) {
          var json = o.responseJSON;
          alert(json);
        }
      });
    });

    function createLoader(){
      var $loader = $('<img class="loader" src="/assets/ajax-loading.gif" width="50px" height="50px"></img>');
          $loader.css('float', 'left');
          $loader.css('position', 'fixed');
          $loader.css('left', '50%');
          $loader.css('top', '40%');
      
      $('body').append($loader);
    }

    function removeLoader(){
      $('body .loader').remove();
    }

    function normalizaLabelFloating() {
      setTimeout(function(){
        $('.control-label').each(function(i) {
         	if( typeof $(this).next().val() !== 'undefined' && $(this).next().val().length > 0){
            $(this).parent().removeClass('is-empty');
         	}else if($(this).prev().hasClass('is-focused')){
            $(this).parent().addClass('is-empty');
          }
        });
      }, 100);
    }

    var getCep = function(event) {
      event.preventDefault();
      var cep = $('#company_address_attributes_zip_code').val();
      cep = cep.replace('.','').replace('-','');
      
      $.ajax({
        url: "/admin/companies/get_cep/",
        type: "GET",
        data: {"cep" : cep},
        beforeSend: function() {
          createLoader();
        },
        success: function(data, status, jqXHR){
          var json = jqXHR.responseJSON;

          if(json.state !== null && json.state.length > 0){
            state_id = json.state[0].id;
            if(json.city !== null && json.city.length > 0){
              city_id = json.city[0].id;
              var cities = json.cities;          
              var options = '';
              
              $("#company_address_attributes_city_id").empty();

              for (var i = 0; i < cities.length; i++) {
                options += '<option value="' + cities[i].id + '">' + cities[i].name + '</option>';
              }
              $("#company_address_attributes_city_id").append(options);          
              $("#company_address_attributes_city_id").val(city_id);
              $("#company_address_attributes_state_id").val(state_id);

              $('#company_address_attributes_street').val(json.address.response.logradouro);          
              $('#company_address_attributes_neighbourhood').val(json.address.response.bairro);          
            }
          }else{
            $('#company_address_attributes_street').val("");
            $('#company_address_attributes_neighbourhood').val("");
            $("#company_address_attributes_state_id").val(-1);
            $("#company_address_attributes_city_id").empty();            
          }                
        },
        error: function(o, status, error) {
          var json = o.responseJSON;          
        },
        complete: function() {
          removeLoader();
          normalizaLabelFloating();
        }
      });
    };
  
  });
</script> 