<%- model_class = Invoice -%>
	  <div class="row">
	    <div class="col-md-12">
	      <div class="card">
	        <div class="card-header card-header-success" data-background-color="green">
            <div class="row">
              <div class="col-md-8">
                <h4 class="title">Cobranças</h4>                
              </div>
              <div class="col" align="right">
                    <%= link_to raw('<i class="material-icons">add</i>'),
                      new_admin_invoice_path, 
                      :style => "margin-left: 35px",
                      :class => 'btn btn-success btn-round btn-fab' %>
              </div>
            </div>
	        </div>  
          <div class="card-content">            
            <%= search_form_for [:admin, @q] do |f| %>
            <div class="row">  
              <div class="col-1"></div>
              <div class="col-2">
                <%= f.label :person_name_cont, :class => 'form-control' %>                                                    
              </div>
              <div class="col-7" align="right">			   
                <%= f.search_field :person_name_cont, :placeholder => 'Valor a ser pesquisado', :class => 'form-control' %>
              </div> 
              <div class="col-2" align="center">                           
                <%= link_to raw('<i class="material-icons">search</i>'),
                  "", :onclick => "$('#invoice_search').submit()",
                  :style => "margin-left: 35px",
                  :class => 'btn btn-warning btn-round btn-fab' %>
              </div>  
            </div> 
            <% end %>                                  
            <div class="row">
              <div class="col">
                <div class="card-content table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>                   
                        <th><%= model_class.human_attribute_name(:created_at) %></th>     
                        <th><%= model_class.human_attribute_name(:person_id) %></th>
                        <th><%= model_class.human_attribute_name(:description) %></th>
                        <th><%= model_class.human_attribute_name(:invoice_type) %></th>
                        <th><%= model_class.human_attribute_name(:due_date) %></th>
                        <th><%= model_class.human_attribute_name(:amount) %></th>
                        <th><%=t '.actions', :default => t("helpers.actions") %></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @invoices.each do |invoice| %>
                        <tr>                          
                          <td><%= invoice.created_at.strftime("%d/%m/%Y %H:%M:%S") %></td>
                          <td><%= link_to invoice.person.name, admin_invoice_path(invoice)  %></td>
                          <td><%= invoice.description %></td>
                          <td><%= invoice.invoice_type.description %></td>
                          <td><%= invoice.due_date %></td>
                          <td><%= invoice.amount %></td>
                          <td>       
                            <% if invoice.pay_day.nil? %>
                              <div class="btn-group">
                                <%= link_to raw('<i class="material-icons">edit</i>'),
                                            edit_admin_invoice_path(invoice), :style => 'color: gray; heigth: 100%; width: 100%;' %>
                                <%= link_to raw('<i class="material-icons">delete</i>'),
                                            admin_person_path(invoice),
                                            :method => :delete,
                                            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },                                            
                                            :style => 'color: #cf1a1a; font-size: 32px;' %>
                              </div>
                            <% end %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                    <% if @invoices.blank? %> 
                      <tfoot> 
                        <th colspan="7" class="tfoot_empty" style="text-align: center; height: 50px;">
                          Nenhum registro encontrado!
                        </th>
                      </tfoot>
                    <% elsif @invoices.count > 10 %>
                      <tfoot> 
                        <th colspan="7" style="text-align: left; height: 50px;">
                          <%= will_paginate @invoices %>
                        </th>
                      </tfoot>
                    <% end %> 
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<script> 
  jQuery(function($){
    $.notify("<%= notice %>", "success" );
  });
</script>         