<%- model_class = Invoice -%>
<div class="content">	
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success" data-background-color="green">
            <h4><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
          </div>

          <div class="card-content">
            <div class="row justify-content-center d-flex align-items-center">    
              <div class="col-10"> 
                <dl class="dl-horizontal">
                  <dt><strong><%= model_class.human_attribute_name(:person_id) %>:</strong></dt>
                  <dd><%= "#{code_completion(@invoice.person.id)} - #{@invoice.person.name}" %></dd>
                  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
                  <dd><%= @invoice.description %></dd>
                  <dt><strong><%= model_class.human_attribute_name(:due_date) %>:</strong></dt>
                  <dd><%= @invoice.due_date %></dd>
                  <dt><strong><%= model_class.human_attribute_name(:amount) %>:</strong></dt>
                  <dd><%= @invoice.amount %></dd>
                </dl>
                  <div class="btn-group" style="padding: 10px;">
                    <%= link_to t('.back', :default => t("helpers.links.back")),
                                  admin_invoices_path, :class => 'btn btn-default'  %>
                    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                                  edit_admin_invoice_path(@invoice), :class => 'btn btn-default' %>
                    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                                  admin_invoice_path(@invoice),
                                  :method => 'delete',
                                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                  :class => 'btn btn-danger' %>
                  </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>     
