<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header card-header-success" data-background-color="green">
                <h4 class="title">Livro Caixa</h4>
            </div> 

            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">
                    <div class="input-group">  
                        <input type="text " placeholder="Data inicial" data-date-format="DD/MM/YYYY" class="form-control datepicker btnCalendarI" >
                        <span class="input-group-addon">
                        <i class="fa fa-calendar btnCalendarI"></i>
                        </span>
                    </div>
                </div>
                <div class="col-3">
                    <div class="input-group">  
                        <input type="text " placeholder="Data inicial" data-date-format="DD/MM/YYYY" class="form-control datepicker btnCalendarI" >
                        <span class="input-group-addon">
                        <i class="fa fa-calendar btnCalendarI"></i>
                        </span>
                    </div>
                </div>

                <div class="col-2" align="right">
                    <button class="btn btn-success"><i class="material-icons">printer</i> Inadimplentes</button>                    
                </div>
                <div class="col-2" align="right" style="margin-right: 15px">
                    <button class="btn btn-success"><i class="material-icons">printer</i> Pagamentos</button>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="card-content table-responsive">                        
                <table class="table table-striped">
                    <thead>
                    <tr>                
                        <th colspan="4">Receitas</th>
                        <th colspan="4">Despesas</th>                                                                                
                    </tr>
                    <tr>
                        <th width="10%">Data</th>                
                        <th width="10%">Tipo</th>
                        <th width="20%">Pessoa</th>                                                                
                        <th width="10%">Valor</th>                
                        <th width="10%">Data</th>
                        <th width="10%">Tipo</th>
                        <th width="20%">Fornecedor</th>
                        <th width="10%">Valor</th>
                    </tr>
                    </thead>
                    <tbody> 
                        <% @cashes.each do |cash| %>           
                        <tr>
                            <% if cash.identifier == 1 %>
                                <td><%= format_date_dt cash.created_at %></td>
                                <td><%= cash.type %></td>
                                <td style="word-break: break-all;"><%= cash.person %></td>
                                <td>R$ <%= humanized_money cash.amount %></td>                                                                    
                                <td colspan="4"></td>
                            <% else %>                                
                                <td colspan="4"></td>
                                <td><%= format_date_dt cash.created_at %></td>
                                <td><%= cash.type %></td>
                                <td style="word-break: break-all;"><%= cash.person %></td>
                                <td>R$ <%= humanized_money cash.amount %></td>                                                                                                    
                            <% end %>                                                    
                        </tr> 
                        <% end %>  
                        <tr>                    
                            <td colspan="4" align="center" style="color: green; font-size: large; font-weight: bold">Total R$ <%= humanized_money @totInput %></td>
                            <td colspan="4" align="center" style="color: red; font-size: large; font-weight: bold">Total R$ <%= humanized_money @totOutput %></td>
                        </tr>     
                        <tr>                    
                            <td colspan="8" align="center" style="color: green; font-size: large; font-weight: bold">Total R$ <%= humanized_money @totInput - @totOutput %></td>                    
                        </tr>     
                    </tbody>        
                </table>                          
            </div>
        </div>    
    </div>
</div>

<script>
jQuery(function($){
  md.initFormExtendedDatetimepickers();
});    
</script>