<%- model_class = Payment -%>

	  <div class="row">
	    <div class="col-md-12">
	      <div class="card">
	        <div class="card-header card-header-success" data-background-color="green">
	          <h4 class="title">Pagamentos</h4>
	        </div> 

          <div class="card-content">            
            <div>
              <div class="card-content table-responsive">
                <div class="row d-flex justify-content-center" style="padding: 10px">  
                  <!--
                  <div class="col-2">    
                    <input type="text" id="txtCodigo" class="form-control mask-person-id" placeholder="Insira o código" />                      
                  </div>
                  -->
                  <div class="col-9">              
                    <%= collection_select(:person_id, :id, Person.all.order(:name), :id, :name,
                      {:prompt => 'Selecione a pessoa'}, {:class => 'custom-select', 'data-live-search'=>"true", 'data-size'=>"2", data: {style: "btn btn-primary"}}) %>                    
                  </div>  
                  <div class="col-2">
                    <% if permission 43 %> 
                      <button class="btn btn-success" id="btnPaymentType">
                        Pagar
                        <i class="material-icons">
                        done_outline
                        </i> 
                      </button>
                    <% end %>
                  </div>
                </div> 

                <div class="row">  
                  <div class="col-12">  
                    <table class="table table-striped" id="tableDebitos">
                      <thead>
                        <tr>
                          <th align="center">
                            <div class="form-check">   
                              <label class="form-check-label">      
                                <input class="form-check-input" type="checkbox" id="chkAll" value="">&nbsp;      
                                <span class="form-check-sign">   
                                  <span class="check"></span> 
                                </span>      
                              </label>  
                            </div>
                          </th>                      
                          <th><%= model_class.human_attribute_name(:invoice_id) %></th>
                          <th><%= model_class.human_attribute_name(:description) %></th>
                          <th><%= model_class.human_attribute_name(:due_date) %></th>
                          <th><%= model_class.human_attribute_name(:pay_amount) %></th>
                          <th><%= model_class.human_attribute_name(:discount) %></th>
                          <th><%= model_class.human_attribute_name(:obs_discount) %></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @payments.each do |payment| %>
                          <tr>
                            <td><%= link_to payment.id, admin_payment_path(payment) %></td>                                                    
                            <td><%= payment.invoice_id %></td>
                            <td><%= payment.description %></td>
                            <td><%= format_dt payment.due_date %></td>
                            <td><%= payment.pay_amount %></td>
                            <td><%= payment.discount %></td>
                            <td><%= payment.obs_discount %></td>                                                      
                          </tr>
                        <% end %>
                      </tbody>
                      <% if @payments.blank? %> 
                        <tfoot> 
                          <th colspan="9" class="tfoot_empty" style="text-align: center; height: 50px;">
                            Nenhum registro encontrado!
                          </th>
                        </tfoot>
                      <% elsif @payments.count > 5 %>
                        <tfoot> 
                          <th colspan="9" style="text-align: left; height: 50px;">
                            <%= will_paginate @payments %>
                          </th>
                        </tfoot>
                      <% end %> 
                    </table>
                    <div align="right">
                      <p style="margin-top: 15px; font-size: x-large; font-weight: bold; padding-right:35px" id="vlrTotal">Total: R$ 0,00<p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<script> 
  jQuery(function($){

    $(".mask-person-id").on("change", function(event) {
      var codPessoa = $(".mask-person-id").val();
      var codPessoaCompleto = ("0000000000" + codPessoa).slice(-10);

      $(".mask-person-id").val(codPessoaCompleto);
    });
    var paymentTypeScreen;

    $.ajax({
      url: "/admin/payment_types/get_all/",
      type: "GET",      
      success: function(data, status, jqXHR){
        var json = jqXHR.responseJSON;  
        var payment_types = json.payment_types;
        var checked = "";
        paymentTypeScreen = "<div class=\"modal fade\" id=\"paymentTypeModal\" role=\"dialog\">"+
                            "  <div class=\"modal-dialog\">"+
                            "    <div class=\"modal-content\">"+
                            "      <div class=\"modal-header\">"+
                            "          <h4 class=\"modal-title\">Selecione o tipo de pagamento</h4>"+
                            "          <button type=\"button\" class=\"close\" id=\"closeModal\" data-dismiss=\"modal\"><span>×</span></button>"+                        
                            "      </div>"+
                            "     <div class=\"modal-body\" id=\"paymentType\" style=\"margin-left: 50px\">";

        for (var i = 0; i < payment_types.length; i++) {
          paymentTypeScreen +="<div class=\"form-check\">"+
                              "   <label class=\"form-check-label\">"+
                              "      <input class=\"form-check-input\" type=\"radio\" name=\"rdPaymentType\" value=" + payment_types[i].id + ">"+payment_types[i].description+"" +
                              "      <span class=\"circle\">"+
                              "      <span class=\"check\"></span>"+
                              "      </span>"+
                              "    </label>"+
                              "</div>";          
        }

        paymentTypeScreen +="</div>"+
                            "     <div class=\"modal-footer btn-group\">"+
                            "          <button type=\"button\" class=\"btn btn-success\" id=\"btnPay\" >Finalizar</button>"	+
                            "          <button type=\"button\" class=\"btn btn-danger\" data-dismiss=\"modal\" id=\"btnClosePaymentType\">Fechar</button>"+
                            "      </div>"+
                            "    </div>"+
                            "  </div>"+
                            "</div>";
        $(paymentTypeScreen).appendTo("body");          
      }
    });    

    $("#btnPaymentType").on("click", function(event) {
      event.preventDefault();
      
      var table = $('#tableDebitos');
      var rowCount = 0;
       table.find('tbody').find('tr').each(function(indice){
        var row = $(this);
        if(row.find('input[type="checkbox"]').is(':checked')) {
          rowCount = rowCount+1;
        }
      });

      if(rowCount > 0){
        $(paymentTypeScreen).appendTo("body");   
        $("#paymentTypeModal").modal(); 
      }
    });

    $('body').on('click', '#btnPay', function(event) {      
      var table = $('#tableDebitos');
      var payments = [];
      var rdPaymentType = $("input[name='rdPaymentType']:checked"). val();

      if(rdPaymentType == 'null' || rdPaymentType == null){
        alert('Selecione o tipo de pagamento!');
        return false;
      }

      table.find('tbody').find('tr').each(function(indice){
        var row = $(this);
        if(row.find('input[type="checkbox"]').is(':checked')) {
          var payment = new Object();
          payment["id"]       = $(this).find("td").eq(0).find('input[type="checkbox"]').val();
          payment["cobranca"] = $(this).find("td").eq(1).text();             
          payment["valor"]    = moeda2float($(this).find("td").eq(4).text());          
          payment["status_payment"] = 'paid';
          payment["payment_type_id"] = rdPaymentType;

          if($(this).find("td").eq(5).text() !== ""){
            payment["discount"] = moeda2float($(this).find("td").eq(5).text());
          }else{
            payment["discount"] = 0.0;
          }
          payment["observacao"] = $(this).find("td").eq(6).text();
          payments.push(payment);
        }
      });

      if( payments[0] ){
        $.ajax({
          url: "/admin/payments",
          type: "POST",
          data: {"payments" : payments },
          success: function(data, status, jqXHR){
            var json = jqXHR.responseJSON;
            var status = json.status;   

            $("#paymentTypeModal").detach(); 
            $("#paymentTypeModal").hide();                    
            $('.modal-backdrop').remove(); 

            if(status === "ok"){
              alert('Pagamento realizado com sucesso!');            
              setTimeout(function() {
                try{                            
                  $('#person_id_id').trigger("change");
                } catch(ex){
                  return false;
                }
              }, 10); 
            }
          },
          error: function(o, status, error) {
            var json = o.responseJSON;             
          }
        });   
      }
    });

    $("#txtCodigo").on("blur", function(event) {
      var person_id = $("#txtCodigo").val();
      if(person_id === "")
        return;
      $.ajax({
        url: "/admin/people/" + person_id +"/search_person/",
        type: "GET",        
        success: function(data, status, jqXHR){
          var json = jqXHR.responseJSON;          
          var person = json.person;       
          //this.val(<%= code_completion(escape_javascript( '5' )) %>)
          if(person.length > 0){
            $('#person_id_id').val(person[0].id );                
          }else{
            $('#person_id_id').val( 0 ); 
          }             
        },
        error: function(o, status, error) { }
      });
    });  

    $("#chkAll").on("change", function(event) {      
      if($("#chkAll").is(":checked")){
        $('.form-check-input').prop( "checked", true );        
      }else{
        $('.form-check-input').prop( "checked", false );                
      }      
    });

    function float2moeda(num) {
	    x = 0;

	    if(num<0) {
	      num = Math.abs(num);
	      x = 1;
	    }   if(isNaN(num)) num = "0";
	      cents = Math.floor((num*100+0.5)%100);

	    num = Math.floor((num*100+0.5)/100).toString();

	    if(cents < 10) cents = "0" + cents;
	      for (var i = 0; i < Math.floor((num.length-(1+i))/3); i++)
	         num = num.substring(0,num.length-(4*i+3))+'.'
                 +num.substring(num.length-(4*i+3));   ret = num + ',' + cents;   
        if (x == 1) 
          ret = ' - ' + ret;
      return ret;
	  }

    function moeda2float(moeda){
      //moeda = moeda.replace(".","");
      //moeda = moeda.replace(",",".");
      return parseFloat(moeda);
    }    

    var calculaValor = function(event){
      var table = $('#tableDebitos');
      var total = 0.0;

      table.find('tbody').find('tr').each(function(indice){
        var row = $(this);
        if(row.find('input[type="checkbox"]').is(':checked')) {
          total += moeda2float($(this).find("td").eq(4).text());
        }
      });

      $("#vlrTotal").text("Total R$ " + float2moeda(total) );
    }

    function limpar(){
      var tfoot    = "<tfoot>"+ 
                      " <tr>"+
                      "  <th colspan=\"9\" class=\"tfoot_empty\" style=\"text-align: center; height: 50px;\">"+
                      "   Nenhum registro encontrado!"+
                      "  </th>"+
                      " </tr>"
                      "</tfoot>";  
      var tbody    = "<tbody>"+                          
                      "</tbody>"; 
      $('#tableDebitos > tbody').remove();
      $('#tableDebitos > tfoot').remove();
      $('#tableDebitos').append(tbody);
      $('#tableDebitos').append(tfoot);
      $("#vlrTotal").text("Total: R$ 0,00");
    }

    $('#person_id_id').change(function () {            
      var person_id =  $('#person_id_id').val();
      if(person_id === ''){
        limpar();
        return false;
      } 
      var total = 0.0;

      $.ajax({
        url: "/admin/payments/" + person_id +"/get_all_debits/",
        type: "GET",
        data: {"person_id" : person_id},
        success: function(data, status, jqXHR){
          var json = jqXHR.responseJSON;                  
          var tuitions = json.tuitions;
          var invoices = json.invoices;
          var person   = json.person_id;
          var hasOne   = false;
          var tfoot    = "<tfoot>"+ 
                         " <tr>"+
                         "  <th colspan=\"9\" class=\"tfoot_empty\" style=\"text-align: center; height: 50px;\">"+
                         "   Nenhum registro encontrado!"+
                         "  </th>"+
                         " </tr>"
                         "</tfoot>";  
          var tbody    = "<tbody>"+                          
                         "</tbody>";      
          
          if( invoices.length > 0 || tuitions.length > 0){
            hasOne = true;
            $('#chkAll').prop('checked', true);
          }

          $('#tableDebitos > tbody').remove();
          $('#tableDebitos > tfoot').remove();    

          if( hasOne ){    
            $( '#tableDebitos').append(tbody);

            for (var i = 0; i < tuitions.length; i++) {
              total += tuitions[i].tuition.amount;
              var linha = "<tr>"+
                            "<td>"+
                            "  <div class=\"form-check\">"+
                            "    <label class=\"form-check-label\">"+
                            "      <input class=\"form-check-input\" type=\"checkbox\" checked value="+ tuitions[i].id +">&nbsp;"+                          
                            "      <span class=\"form-check-sign\">"+
                            "        <span class=\"check\"></span>"+
                            "      </span>"+
                            "    </label>"+
                            "  </div>"+ 
                            "</td>"+
                            "<td>Mensalidade</td>"+
                            "<td>Parcela da mensalidade</td>"+
                            "<td>"+ mascaraData( tuitions[i].due_date ) +"</td>"+
                            "<td>"+ float2moeda( tuitions[i].tuition.amount ) +"</td>"+
                            "<td><input type=\"text\" placeholder=\"0,00\" class=\"form-control\"></td>"+
                            "<td><input type=\"text\" placeholder=\"Observação\" class=\"form-control\"></td>"+                          
                          "</tr>";
              $('#tableDebitos > tbody').append(linha);
            }

            for (var i = 0; i < invoices.length; i++) {
              total += invoices[i].amount;
              var linha = "<tr>"+
                            "<td>"+
                            "  <div class=\"form-check\">"+
                            "    <label class=\"form-check-label\">"+
                            "      <input class=\"form-check-input\" type=\"checkbox\" checked value="+ invoices[i].id +">&nbsp;"+                          
                            "      <span class=\"form-check-sign\">"+
                            "        <span class=\"check\"></span>"+
                            "      </span>"+
                            "    </label>"+
                            "  </div>"+ 
                            "</td>"+
                            "<td>"+ invoices[i].invoice_type.description +"</td>"+
                            "<td>"+ invoices[i].description +"</td>"+
                            "<td>"+ mascaraData( invoices[i].due_date ) +"</td>"+
                            "<td>"+ float2moeda( invoices[i].amount ) +"</td>"+
                            "<td><input type=\"text\" placeholder=\"0,00\" class=\"form-control\"></td>"+
                            "<td><input type=\"text\" placeholder=\"Observação\" class=\"form-control\"></td>"+                          
                          "</tr>";
              $('#tableDebitos > tbody').append(linha);
            }
          }else{
            $('#tableDebitos > tbody').html(""); 
            if( $( '#tableDebitos > tfoot' ).length === 0 )
              $( '#tableDebitos').append(tfoot);
          }
          $("#vlrTotal").text("Total R$ " + float2moeda(total) );
          $(".form-check-input").on("change", function(event){
            calculaValor();
          });
          
        },
        error: function(o, status, error) {
          var json = o.responseJSON;
          alert(json);
        }
      });
    });

    function mascaraData(data){
      var date = data.split("-")
      return date[2] + "/" + date[1] + "/" +date[0];
    }
  });
</script> 
