<%- model_class = Checkin -%>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header card-header-success" data-background-color="green">
              <div class="row">
                <div class="col-8">
                  <h4 class="title">Listagem de Checkins</h4>
                </div>
                <div class="col" align="right">

                  <button class="btn btn-success btn-round btn-fab" id="btnNotCheckins" rel="tooltip" title="Checkins não realizados">
                    <i class="material-icons">thumb_down</i>
                  </button>

                  <button class="btn btn-success btn-round btn-fab" id="btnCheckins" rel="tooltip" title="Checkins realizados">
                    <i class="material-icons">thumb_up</i>
                  </button>
                  
                  <button class="btn btn-success btn-round btn-fab" id="btnNewCheckin" rel="tooltip" title="Efetuar Checkin">
                    <i class="material-icons">fingerprint</i>
                  </button>  

                </div>
              </div>
            </div>
            
            <div class="card-content">
              <%= search_form_for [:admin, @q] do |f| %>
              <div class="row">                        
                <div class="col-2" align="right" style="display: table; ">
                  <%= f.label 'Busca:', :style => 'display:table-cell; vertical-align: middle; height: 40px;' %>                                                    
                </div>
                <div class="col-4" align="right">			   
                  <%= f.search_field :person_name_start, :placeholder => 'Nome da pessoa', :class => 'form-control' %>
                </div> 
                <div class="col-2" align="right">			                                                   
                  <div class="input-group">  
                    <%= f.search_field :created_at_gteq, :placeholder => 'Data inicial', :data => {"date-format" => "DD/MM/YYYY"}, class: 'form-control datepicker btnCalendarI' %>
                    <span class="input-group-addon">
                      <i class="fa fa-calendar btnCalendarI"></i>
                    </span>
                  </div>
                </div> 

                <div class="col-2" align="right">			                                                                           
                  <div class="input-group">  
                    <%= f.search_field :created_at_lteq, :placeholder => 'Data final', :data => {"date-format" => "DD/MM/YYYY"}, class: 'form-control datepicker btnCalendarF' %>
                    <span class="input-group-addon">
                      <i class="fa fa-calendar btnCalendarF"></i>
                    </span>
                  </div>
                </div> 
                <div class="col-2" align="center">                                              
                  <%= link_to raw('<i class="material-icons">search</i>'),
                    "", :onclick => "$('#checkin_search').submit()",
                    :style => "margin-left: 15px",
                    :class => 'btn btn-warning btn-round btn-fab' %>
                </div>  
              </div> 
              <% end %>   
              <div class="row">
                <div class="col">
                  <div class="card-content table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th><%= model_class.human_attribute_name(:company_id) %></th>
                          <th><%= model_class.human_attribute_name(:person_id) %></th>                              
                          <th><%= model_class.human_attribute_name(:created_at) %></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @checkins.each do |checkin| %>
                          <tr>
                            <td><%= checkin.company.name %></td>
                            <td><%= checkin.person.name %></td>                                
                            <td><%= checkin.created_at.strftime("%d/%m/%Y %H:%M:%S") %></td>
                          </tr>
                        <% end %>
                      </tbody>
                      <% if @checkins.blank? %> 
                        <tfoot> 
                          <th colspan="3" class="tfoot_empty" style="text-align: center; height: 50px;">
                            Nenhum check-in realizado
                          </th>
                        </tfoot>
                      <% elsif @checkins.count > 10 %>
                        <tfoot> 
                          <th colspan="3" style="text-align: left; height: 50px;">
                            <%= will_paginate @checkins  %>
                          </th>
                        </tfoot>
                      <% end %>  
                    </table>
                    <br/>
                  </div>
                </div>
              </div>                       
            </div>
      </div->
    </div>
</div>      

<script>
jQuery(function($){
  md.initFormExtendedDatetimepickers();  
  $.notify("<%= notice %>", "success" );

  $('#btnNewCheckin').on("click", function(event) {   
    var url = "/admin/checkins/new";
    $(location).attr("href", url);          
  });

  $('#btnCheckins').on("click", function(event) {   
    var dataInicial = $('#q_created_at_gteq').val();
    var dataFinal = $('#q_created_at_lteq').val();

    var errors = [];
    if( dataFinal == ''){
      errors.push("Informe a data final.");
      $.notify("Informe a data final.", "error" ); 
    }
    if( dataInicial == ''){
      errors.push("Informe a data inicial.");
      $.notify("Informe a data inicial.", "error" ); 
    }    
    if(!validaData(dataInicial, dataFinal)){      
      errors.push("Data inicial não pode ser maior que a data final.");
      $.notify("Data inicial não pode ser maior que a data final.", "error" ); 
    }
    if( errors.length > 0)
      return false;      

    var url = "/admin/checkins/checkins_pdf?initial_date="+dataInicial+"&final_date="+dataFinal;
    window.open(url, '_blank');    

    event.preventDefault();             
  });

  $('#btnNotCheckins').on("click", function(event) {   
    var dataInicial = $('#q_created_at_gteq').val();
    var dataFinal = $('#q_created_at_lteq').val();

    var errors = [];
    if( dataFinal == ''){
      errors.push("Informe a data final.");
      $.notify("Informe a data final.", "error" ); 
    }
    if( dataInicial == ''){
      errors.push("Informe a data inicial.");
      $.notify("Informe a data inicial.", "error" ); 
    }    
    if(!validaData(dataInicial, dataFinal)){      
      errors.push("Data inicial não pode ser maior que a data final.");
      $.notify("Data inicial não pode ser maior que a data final.", "error" ); 
    }
    if( errors.length > 0)
      return false; 

    var url = "/admin/checkins/without_checkins_pdf?initial_date="+dataInicial+"&final_date="+dataFinal;
    window.open(url, '_blank');    

    event.preventDefault();             
  });   

  function validaData(dataInicial,dataFinal){
    
    var dataIni=dataInicial.split("/");
    
    var diaIni=dataIni[0];
    var mesIni=dataIni[1];
    var anoIni=dataIni[2];
    
    dataInicial=anoIni+mesIni+diaIni;
    
    var dataFim=dataFinal.split("/");
    var diaFim=dataFim[0];
    var mesFim=dataFim[1];
    var anoFim=dataFim[2];
    
    dataFinal=anoFim+mesFim+diaFim;
      
    if(eval(dataFinal) < eval(dataInicial))
      return false;
    
    return true;
    
    
  }
  
});    
</script>