<%- model_class = Tuition -%>
<%= form_for [:admin, @tuition], :html => { remote: true, :class => "form-horizontal tuition" } do |f| %>

<div class="content">  
  <div class="container-fluid">

    <div class="row">
      <div class="col">

        <div class="row">
          <div class="col-lg-6">   
            <%= f.label ' ' %>                       
            <%= f.text_field :description, :placeholder => model_class.human_attribute_name(:description), :class => 'form-control' %>            
          </div>
          <div class="col-lg-3">  
            <%= f.label ' ' %>                      
            <%= f.number_field :day, :placeholder => model_class.human_attribute_name(:day), max: 30, min: 1, :class => 'form-control' %>            
          </div>
          <div class="col-lg-3">                    
            <%= f.label model_class.human_attribute_name(:amount), :class => 'control-label' %>    
            <%= f.text_field :amount, :placeholder => model_class.human_attribute_name(:amount), value: sprintf('%.2f', f.object.amount.to_f).gsub(/\./, ','), class: "mask-money form-control" %>                          
          </div>
        </div> 

        <div class="row">
          <div class="col-3">
            <div class="togglesbutton">
              <label class="input-checkbox checkbox-lightBlue">                
                <%= f.check_box :send_email %>
                <span class="checkbox"></span>
              </label>
              <label for="checkbox-2" class="label">Envia e-mail de cobrança</label>                             
            </div>
          </div>
          <div class="col-3 divEmail" >                        
            <%= f.number_field :day_email, :placeholder => model_class.human_attribute_name(:day_email), max: 30, min: 1, :class => 'form-control' %>            
          </div>
          <div class="col-6 divEmail">              
                <%= f.collection_select(:email_id, Email.order('title desc').all, :id, :title,
     	              {:prompt => 'Selecione o e-mail de cobrança'}, {:class => 'selectpicker', data: {style: "btn btn-primary"}}) %>            
          </div>
        </div> 

        <div class="row">
          <div class="col-lg-12">
            <div class="btn-group pull-right">
              <%= f.submit nil, :class => 'btn btn-success' %>
              <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                        admin_tuitions_path, :class => 'btn btn-danger' %>
            </div>
          </div>
        </div> 

      </div>    
    </div>
  </div>
</div>          
<% end %>

<script> 
  jQuery(function($){
    $('.selectpicker').selectpicker({
        width: '100%'
    });
    
    $('#liMensalidade').addClass("active");
    
    $(".mask-money").maskMoney(
      { 
        prefix: '',
        includeThousandsSeparator: true,
        thousands:'',
        allowDecimal: true,
        decimalSymbol: ',',
        integerLimit: 2,
        requireDecimal: true
      }
    );

    function verifyEmail(){
      if( $('#tuition_send_email').is(':checked')){
        $('.divEmail').css('display', 'block');
      }else{
        $('.divEmail').css('display', 'none');
      }
    }

    verifyEmail();
    $('#tuition_send_email').change(function () {
      verifyEmail();
    });
  });
</script>     
