<%= form_for [:admin, @lean], :html => { remote: true, :class => "form-horizontal lean" } do |f| %>

  <% content_for :head do %>
    <%= javascript_include_tag 'notify' %>
  <% end %>

  <div class="row justify-content-center d-flex align-items-center">
    <div class="col-10">
      
      <%= f.hidden_field :company_id, value: session[:current_company] %> 
      
      <div class="row">
        <div class="col-11">      
          <%= collection_select(:person, :id, Person.all.order(:name), :id, :name,
          {:prompt => 'Selecione a pessoa'}, {:class => 'custom-select', 'data-live-search'=>"true", 'data-size'=>"2", data: {style: "btn btn-primary"}}) %>
        </div>
      </div>

      <div class="row">
        <div class="col-5">Produto</div>
        <div class="col-2">Quantidade</div>
        <div class="col-3">Devolver em</div>                
      </div>

      <div class="row">
        <div class="col-5">
          <%= collection_select(:products, :id, Product.all.order(:name), :id, :name,
          {:prompt => 'Selecione o produto'}, {:class => 'custom-select', 'data-live-search'=>"true", 'data-size'=>"2", data: {style: "btn btn-primary"}}) %>
        </div>

        <div class="col-2">
          <%= number_field(:quantity, :qtde, class: 'form-control') %>          
        </div>

        <div class="col-3">
          <div class="input-group">  
            <input type="text" id="inputExpectedReturn" data-date-format="DD/MM/YYYY" class="form-control datepicker"></input>            
            <span class="input-group-addon">
              <i class="fa fa-calendar btnExpectedReturn"></i>
            </span>
          </div>
        </div>
       
        <div class="col-2">
          <button id="btnAddProduct" class="btn btn-success btn-round btn-fab">+</button>
        </div>
      </div>

      <div class="table-responsive">
      <table class="table" id="tableProducts"> 
        <thead>
          <tr>       
            <th width="10%" align="center">
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" id="chkAll" value="">&nbsp;
                  <span class="form-check-sign">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
            </th>
            <th>Código</th> 
            <th>Nome</th>
            <th>Quantidade</th>            
            <th>Devolver em</th>    
            <th></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot> 
          <th colspan="6" class="tfoot_empty" style="text-align: center; height: 50px;">
            Nenhum produto adicionado
          </th>
        </tfoot>
      <table>
    </div>

    <div class="btn-group pull-right">        
      <% if permission 29 %>
        <button id="btnDevolver" class="btn btn-danger" style="visibility: hidden">Devolver</button>
      <% end %>
      <% if permission 28 %>
        <button id="btnEmprestar" class="btn btn-success">Emprestar</button>
      <% end %>
    </div>
      
    </div>
  </div>
  
<% end %>

<script> 
  
  var pessoasSelecionadas;
  var produtosSelecionados;

  jQuery(function($){ 
    md.initFormExtendedDatetimepickers();
    $.notify("<%= notice %>", "success" );

    pessoasSelecionadas = [];
    produtosSelecionados = [];

    $("#chkAll").on("change", function(event) {      
      if($("#chkAll").is(":checked")){
        $('.form-check-input').prop( "checked", true );        
      }else{
        $('.form-check-input').prop( "checked", false );                
      }      
    });

    $('#tableProducts').on('click', '.btn-remover', function(event) {      
      $(this).closest('tr').remove();
      verificaRodape();      
      event.preventDefault();
    });
    
    $("#person_id").on("click", function() {
      event.preventDefault();

      var person_id = $('#person_id').val();

      $.ajax({
        url: "/admin/leans/get_leans_by_person",
        type: "GET",
        data: {"person_id": person_id},
        success: function(data, status, jqXHR){
          var json = jqXHR.responseJSON;                    
          var leans = json.leans;
          var hasOne   = false;
          var tfoot    = "<tfoot>"+ 
                         " <tr>"+
                         "  <th colspan=\"6\" class=\"tfoot_empty\" style=\"text-align: center; height: 50px;\">"+
                         "   Nenhum produto adicionado"+
                         "  </th>"+
                         " </tr>"
                         "</tfoot>";  
          var tbody    = "<tbody>"+                          
                         "</tbody>"; 
          
          $('#tableProducts > tfoot').remove(); 

          if( leans.length > 0){
            hasOne = true;            
          }

          if( hasOne ){  
            $( '#tableProducts').append(tbody);
            for (var i = 0; i < leans.length; i++) {
              var linha = "<tr value="+ leans[i].id +">"+
                    "<td>"+
                    "  <div class=\"form-check\">"+
                    "    <label class=\"form-check-label\">"+
                    "      <input class=\"form-check-input check-emprestado\" type=\"checkbox\">&nbsp;"+
                    "      <span class=\"form-check-sign\">"+
                    "        <span class=\"check\"></span>"+
                    "      </span>"+
                    "    </label>"+
                    "  </div>"+
                    "</td>"+
                    "<td>"+ leans[i].product.id +"</td>"+
                    "<td>"+ leans[i].product.name +"</td>"+                    
                    "<td>"+ leans[i].quantity +"</td>"+
                    "<td>"+ mascaraData( leans[i].expected_return ) +"</td>"+
                    "<td></td>"+                    
                  "</tr>";

              $('#tableProducts > tbody').append(linha);
              $('#tableProducts > tfoot').remove();              
            }
          }else{
            $('#tableProducts > tbody').html(""); 
            if( $( '#tableProducts > tfoot' ).length === 0 )
              $( '#tableProducts').append(tfoot);
          }
        },
        error : function(jqXHR, textStatus, errorThrown){ }
      }); 
    });

    $("#btnAddPerson").on("click", function() {
      event.preventDefault();

      var codigo = $('#person_id').val();
      var index = pessoasSelecionadas.indexOf(codigo);
      if (codigo === '' || index > -1) {
        return false;
      }
      var nome = $('#person_id option:selected').text();
      var linha = "<tr>"+
                    "<td>"+ codigo +"</td>"+
                    "<td>"+ nome +"</td>"+                    
                    "<td align=\"center\"><button class=\"btn btn-sm btn-danger btn-remover\">remover</button></td>"+                    
                  "</tr>";

      $('#tablePeople > tbody').append(linha);
      pessoasSelecionadas.push(codigo);
    });

    $("#btnAddProduct").on("click", function() {
      event.preventDefault();
      var errors = [];

      var codigo = $('#products_id').val();
      var index = produtosSelecionados.indexOf(codigo);

      if (codigo === '') {
        errors.push("Selecione o produto.");
        $.notify("Selecione o produto.", "error" );      
      } 

      if ( exists ) {
        errors.push("Este produto já consta na lista.");
        $.notify("Este produto já consta na lista.", "error" );      
      } 

      var quantidade = $('#quantity_qtde').val();
      if( quantidade == '' || quantidade < 1){
        errors.push("Informe a quantidade.");
        $.notify("Informe a quantidade.", "error" );   
      }

      var dataDevPrevista = $('#inputExpectedReturn').val();
      if( dataDevPrevista == ''){
        errors.push("Informe a data de devolução prevsta.");
        $.notify("Informe a data de devolução prevsta.", "error" );   
      }

      var dataHoje = new Date();
      var date = dataDevPrevista.split("/")
      var data = new Date( date[2], date[1] - 1, date[0], dataHoje.getHours(), dataHoje.getMinutes(), dataHoje.getSeconds(), dataHoje.getMilliseconds() );

      if( data < dataHoje ){
        errors.push("A data deve ser igual ou maior que hoje.");
        $.notify("A data deve ser igual ou maior que hoje.", "error" );   
      }

      if( errors.length > 0)
        return false;         

      var nome = $('#products_id option:selected').text();
      var linha = "<tr>"+
                    "<td></td>"+
                    "<td>"+ codigo +"</td>"+
                    "<td>"+ nome +"</td>"+                    
                    "<td>"+ quantidade +"</td>"+
                    "<td>"+ dataDevPrevista +"</td>"+
                    "<td align=\"center\"><button class=\"btn btn-sm btn-danger btn-remover\">remover</button></td>"+                    
                  "</tr>";

      $('#tableProducts > tbody').append(linha);
      $('#tableProducts > tfoot').remove();      
    });
    
    $(".btnExpectedReturn").on("click", function() {
      $('#inputExpectedReturn').focus();
    });
    
    $('#tableProducts').on('change', '.check-emprestado', function(event) {            
      event.preventDefault();
      if( $(this).is(':checked')) {
        $('#btnDevolver').css('visibility', 'visible')
      }
    });    
  
    $("#btnEmprestar").click(function () {    
      event.preventDefault();
      var errors = [];

      var pessoa_id = $('#person_id').val();
      if (pessoa_id === '')
        errors.push("Informe a pessoa que está efetuando o empréstimo.");    
        
      $.each(errors, function(index, value) {
        $.notify(value, "error" );        
      });      

      if( errors.length > 0)
        return false;

      var table = $('#tableProducts');
      var leans = [];

      table.find('tbody > tr').each(function(indice){
        var colCheck = $(this).find("td").eq(0).html();
        
        if( colCheck.indexOf('form-check') < 0){
          var row = $(this);
          var lean = new Object();        
          lean["company_id"] = 1;
          lean["person_id"] = pessoa_id;
          lean["product_id"] = $(this).find("td").eq(1).text();
          lean["quantity"] = $(this).find("td").eq(3).text();        
          lean["expected_return"] = $(this).find("td").eq(4).text();        
          leans.push(lean);
        }
      });
      
      if( leans[0] ){
        $.ajax({
          url: "/admin/leans/",
          type: "POST",
          data: {"lean": leans},
          success: function(data, status, jqXHR){
            var json = jqXHR.responseJSON; 
            var products = json.products;
            for (var i = 0; i < products.length; i++) {                   

            }              
          },
          error : function(jqXHR, textStatus, errorThrown){ }
        });     
      }
    });

    $("#btnDevolver").click(function () {    
      event.preventDefault();     

      var table = $('#tableProducts');    

      table.find('tbody > tr').each(function(indice){                   
        var row = $(this);

        if(row.find('input[type="checkbox"]').is(':checked')) {
          var id = $(this).closest('tr').attr('value');  
          var lean = new Object();   
          let current_datetime = new Date();          
          lean["returned"] = current_datetime;               

          $.ajax({
            url: "/admin/leans/"+id,
            type: "PUT",
            data: {"id": id, "lean": lean},
            success: function(data, status, jqXHR){       
              row.closest('tr').remove();     
              verificaRodape();
            },
            error : function(jqXHR, textStatus, errorThrown){ }
          });
        }
      });                               
    });

    function mascaraData(data){
      var date = data.split("-")
      return date[2] + "/" + date[1] + "/" +date[0];
    }

    var verificaRodape = function(event){
      var tfoot = "<tfoot> "+ 
                  "<th colspan=\"6\" class=\"tfoot_empty\" style=\"text-align: center; height: 50px;\">"+
                  " Nenhum produto adicionado"+
                  "</th>"+
                  "</tfoot>";
      var tbody = $("#tableProducts tbody");

      if (tbody.children().length == 0) {
          $('#tableProducts').append(tfoot);
      }      
    }
         
  });  
</script>  