<%- model_class = Category -%>
<%= form_for [:admin, @category], :html => { remote: true, :class => "form-horizontal" } do |f| %>

<div class="row justify-content-center d-flex align-items-center">
  <div class="col-10">

    <div class="row">
      <div class="col">            
        <%= f.label :description, :class => 'control-label' %>
        <%= f.text_field :description, :class => 'form-control' %>            
      </div>
      <div class="col-3">
        <%= link_to_add_fields "Mensalidade", f, :category_tuitions, 'add-tuition' %>
      </div>
    </div>  

    <div class="row">
      <div class="col-12 small-centered columns">
        <fieldset>          
          <div class="nasted-list">
            <table id="tableTuitions" class="table table-stripped">
              <thead>
                <th>Código</th>
                <th>Mensalidade</th>
                <th>Valor</th>
                <th style="text-align: center">Remover</th>
              </thead>
              <tbody class="fields-target">
                <% if f.object.id.present? %>
                  <% @category.category_tuitions.each do |category_tuition| %>
                    <tr>
                      <td class="tuition-identifier"><%= "#{category_tuition.tuition.id}" %></td>
                      <td class="tuition-name"><%= "#{category_tuition.tuition.description}" %></td>
                      <td class="tuition-amount"><%= "#{category_tuition.tuition.amount}" %></td>
                      <td style="text-align: center">                         
                        <%= link_to '#', id: category_tuition.id, style: 'color: #cf1a1a; font-size: 32px;',  class: 'remove_fields' do %>
                          <i class="material-icons">delete</i>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>                 
                <% else %>
                  <%= f.fields_for :category_tuitions do |builder| %>                  
                    <%= render 'category_tuition', f: builder %>
                  <% end %>
                <% end %>
              </tbody>
              <% if @category.category_tuitions.length == 0 %> 
                <tfoot> 
                  <th colspan="4" class="tfoot_empty" style="text-align: center; height: 50px;">
                    Nenhuma mensalidade adicionada
                  </th>
                </tfoot>
              <% end %>
            </table>
          </div>
        </fieldset>
      </div>
    </div>

    <div class="row">
      <div class="col-12" align="right">
        <div class="btn-group" role="group">
          <%= f.submit nil, :class => 'btn btn-success' %>
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    admin_categories_path, :class => 'btn btn-danger' %>
        </div>
      </div>
    </div> 

  </div>    
</div>            
<% end %>

<div id="tuitionModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Nova Mensalidade</h4>
        <button type="button" class="close" id="closeModal" data-dismiss="modal"><span>×</span></button>                        
      </div>
      <div class="modal-body">
        <form id="tuition-form">
          <%= hidden_field_tag :tuition_id %>
          <div class="row">
            <div class="col-12">  
              <%= label_tag :tuition_sel_id, "Mensalidade:" %>              
              <%= collection_select(:tuition_sel, :id, Tuition.order('description desc').all, :id, :description,
                    {:prompt => 'Selecione a mensalidade'}, {:class => 'btn btn-primary custom-select'}) %>                     
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer btn-group">
        <%= link_to "Adicionar", "#", class: "btn btn-success save-tuition" %>
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnFechar">Fechar</button>
      </div>
    </div>
  </div>  
</div>

<script> 
  jQuery(function($){    
    $('#liCategoria').addClass("active");   

    $('.add-tuition').click(function(event) {
      var id = $(this).data('id'); 
      var tuitionScreen = $('#tuitionModal');
      tuitionScreen.find('#tuition_id').val(id);
      $(tuitionScreen).modal();    

      event.preventDefault();
    });

    $('.save-tuition').click(function(event) {
      var errors = [];

      var tuition_id = $('#tuition_sel_id').val(); 

      if( tuition_id === "" ){
        errors.push("Selecione uma mensalidade.");
        $.notify("Selecione uma mensalidade.", "error" ); 
      }
                  
      var table = $("#tableTuitions");               
      table.find('tbody').find('tr').each(function(indice){
        var row = $(this);                
        if(tuition_id === $(this).find("td").eq(0).text() ){
          errors.push("Esta mensalidade já consta na lista.");
          $.notify("Esta mensalidade já consta na lista.", "error" );          
        }
      });

      if( errors.length > 0)
        return false;    
      
      $('#tableTuitions > tfoot').remove();
      var row = addTuitionRow();  
      var btnRemover = "<a href=\"#\" style=\"color: #cf1a1a; font-size: 32px;\"><i class=\"material-icons btn-remover\">delete</i></a>";
      var tuition_name = $('#tuition_sel_id option:selected').text();
      var amount = 0.0;

      var objTuition = getMensalidade(tuition_id);      
      objTuition.done(function(result) {
          amount = result;
      });

      row.find('.tuition-id').val(tuition_id);
      row.find('.tuition-identifier').text(tuition_id);      
      row.find('.tuition-name').text(tuition_name);    
      row.find('.tuition-amount').text( amount );    
      row.find('.div-btn-remover').html(btnRemover);
      event.preventDefault();     
    });

    var addTuitionRow = function() {
      var id = $('.add-tuition').data('id');      
      var fields = $('.add-tuition').data('fields');
      var time = new Date().getTime();          
      var regexp = new RegExp(id, 'g');
      var tuition = $('.add-tuition').data('fields').replace(regexp, time);
      $('.fields-target').append(tuition);

      return $('.fields-target').children().last();
    };
    
    function getMensalidade(mensalidade){
      var deferred = $.Deferred();	            
      var result = null;

      $.ajax({
        url: "/admin/tuitions/" + mensalidade +"/get_tuition/",
        type: "GET",
        async: false,
        data: { "id": mensalidade },
        success: function(data, status, jqXHR){
          var json = jqXHR.responseJSON; 
          result = json.tuition.amount;
        },
        error: function(o, status, error) {}
      });   

      deferred.resolve(result);
      return deferred.promise();
    }

    $('form').on('click', '.btn-remover', function(event) {      
      $(this).closest('tr').remove();
      verificaRodape();      
      event.preventDefault();
    });

    $('form').on('click', '.remove_fields', function(event) {
      var row = $(this).closest('tr');
      var id = $(this).closest('a').attr('id');
      event.preventDefault();
      $.ajax({
        url: "/admin/categories/" + id +"/destroy_category_tuition/",
        type: "DELETE",
        data: { },
        success: function(data, status, jqXHR){
          var json = jqXHR.responseJSON; 
          row.remove();
          verificaRodape();                            
        },
        error: function(o, status, error) {
          var json = o.responseJSON;
          alert(json);
        }
      });      
    });

    var verificaRodape = function(event){
      var tfoot = "<tfoot> "+ 
                  "<th colspan=\"4\" class=\"tfoot_empty\" style=\"text-align: center; height: 50px;\">"+
                  " Nenhuma mensalidade adicionada"+
                  "</th>"+
                  "</tfoot>";
      var tbody = $("#tableTuitions tbody");

      if (tbody.children().length == 0) {
          $('#tableTuitions').append(tfoot);
      }      
    }

  });
</script>     
