<%- model_class = Person -%>
<%= form_for [:admin, @person], :html => { remote: true, :class => "form-horizontal person" } do |f| %>
  
  <% content_for :head do %>
    <%= javascript_include_tag 'notify' %>
  <% end %>
      <div class="row">
        <div class="col-lg-12">
          <ul class="nav nav-tabs card-nav-tabs justify-content-center" role="tablist" data-background-color="green">            
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" role="tab" href="#dados">Dados Pessoais</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" role="tab" href="#doc">Documentos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" role="tab" href="#biometria">Biometria</a>
            </li>
            <% unless @tuitionPeople.nil? %>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" role="tab" href="#mensalidade">Mensalidades</a>
              </li>
            <% end %>
          </ul>
          <div class="tab-content">
            <div id="dados" class="tab-pane active" >

              <div class="col-lg-12 box-shadow">
                <div class="row">

                  <div class="col-md-9">                        							
                    <div class="row">                        
                      <div class="col-md-7">
                        <%= f.label :name, :class => 'control-label' %>
                        <%= f.text_field :name, :class => 'form-control' %>
                      </div>

                      <div class="col-md-5">        
                        <%= f.label :date_born, :class => 'control-label' %>                                                                              
                        <div class="input-group">                             
                          <%= f.text_field :date_born, placeholder: 'dd/mm/yyyy', :data => {"date-format" => "DD/MM/YYYY"}, class: 'form-control datepicker' %>
                          <span class="input-group-addon">
                            <i class="fa fa-calendar btnCalendar btnCalendarDateBorn"></i>
                          </span>
                        </div>                        
                      </div>

                    </div>

                    <div class="row">             
                      <div class="col-md-7">
                        <%= f.label :email, :class => 'control-label' %>
                        <%= f.text_field :email, :class => 'form-control' %>
                      </div>

                      <div class="col-md-5">
                        <%= f.label :date_enroll, :class => 'control-label' %>
                        <div class="input-group">                      
                          <%= f.text_field :date_enroll, :data => {"date-format" => "DD/MM/YYYY"}, class: 'form-control datepicker' %>                          
                          <span class="input-group-addon">
                            <i class="fa fa-calendar btnCalendar btnCalendarDateEnroll"></i>
                          </span>
                        </div>
                      </div>
                    </div>  

                    <div class="row">             
                      <div class="col-md-5">
                        <%= f.collection_select(:category_id, Category.all.order(:description), :id, :description,
                            {:prompt => 'Categoria'}, {:class => 'btn btn-primary custom-select'}) %>
                      </div>

                      <div class="col-md-4">
                        <%= f.label :rg, :class => 'control-label' %>
                        <%= f.text_field :rg, :class => 'form-control' %>
                      </div>

                      <div class="col-md-3">
                        <%= f.label :cpf, :class => 'control-label' %>
                        <%= f.text_field :cpf, :class => 'form-control' %>                        
                        
                        <%= hidden_field_tag :data_uri, "" %>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3"> 
                    <div class="divImagemFoto2" id="divImagemFoto" align="center">
                        <%= image_tag url_for(:action => "show_image", :id => @person.id), class: "img_capa_zk", id: 'image-output' %>
                      </img>
                      
                      <div>
                        <div class="image-upload">	 
                          <label for="file-input">
                            <span class="fa fa-upload" style="color:#036; font-size: 20px; background: #fff; border: none;"></span>
                          </label>
                          <%= f.file_field :photo_file, id:"file-input" %>

                          <button class="fa fa-camera"	id="btnWebcam"
                            style="color: #888; font-size: 20px; border: none; background: #FFF;"/>
                        
                        <button class="fa fa-times"	id="btnExcluirFoto"
                            style="color:#f00; font-size: 20px; border: none; background: #fff;"/>
                        </div>                                                          
                      </div>
                    </div>
                  </div>

                </div>   

                <div class="row">            
                  <div class="col-md-3">  
                    <%= f.label :telephone_residence, :class => 'control-label' %>
                    <%= f.text_field :telephone_residence, :class => 'form-control' %>
                  </div>

                  <div class="col-md-3">
                    <%= f.label :smartphone_number, :class => 'control-label' %>
                    <%= f.text_field :smartphone_number, :class => 'form-control' %>
                  </div>

                  <div class="col-md-3">
                    <%= f.label :telephone_message, :class => 'control-label' %>
                    <%= f.text_field :telephone_message, :class => 'form-control' %>
                  </div>

                  <div class="col-md-3">
                    <%= f.label :message_person, :class => 'control-label' %>
                    <%= f.text_field :message_person, :class => 'form-control' %>
                  </div>
                </div>

                <div class="row">             
                  <div class="col-md-4">
                    <%= f.label :facebook, :class => 'control-label' %>
                    <%= f.text_field :facebook, :class => 'form-control' %>
                  </div>

                  <div class="col-md-4">
                    <%= f.label :father_name, :class => 'control-label' %>
                    <%= f.text_field :father_name, :class => 'form-control' %>
                  </div>

                  <div class="col-md-4">
                    <%= f.label :mother_name, :class => 'control-label' %>
                    <%= f.text_field :mother_name, :class => 'form-control' %>
                  </div>
                </div>

                <%= f.fields_for :address do |ad| %>
                  <div class="row">
                    <div class="col-md-4">
                      <%= f.label :zip_code, :class => 'control-label' %>
                      <%= ad.text_field :zip_code, :class => 'form-control' %>
                    </div>
                    <div class="col-md-8">
                      <%= f.label :street, :class => 'control-label' %>
                      <%= ad.text_field :street, :class => 'form-control' %>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4">
                      <%= f.label :number, :class => 'control-label' %>
                      <%= ad.text_field :number, :class => 'form-control' %>
                    </div>

                    <div class="col-md-8">
                      <%= f.label :complement, :class => 'control-label' %>
                      <%= ad.text_field :complement, :class => 'form-control' %>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-md-4">
                      <%= f.label :reference, :class => 'control-label' %>
                      <%= ad.text_field :reference, :class => 'form-control' %>
                    </div>

                    <div class="col-md-8">
                      <%= f.label :neighbourhood, :class => 'control-label' %>
                      <%= ad.text_field :neighbourhood, :class => 'form-control' %>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-md-4">
                      <%= ad.collection_select(:state_id, State.all.order(:name).all, :id, :name,
                        {:prompt => 'Estado'}, {:class => 'btn btn-success custom-select'}) %>
                    </div>
                    <div class="col-md-8">
                      <%= ad.select(:city_id, City.where(:state_id => ad.object.state_id ).collect{|s| [s.name, s.id]}, 
                        {:prompt => 'Cidade'}, {:class => 'btn btn-primary custom-select'} ) %>  
                    </div>
                  </div> 

                </div>  
              <% end %>
            </div> <!-- fim tab dados pessoais -->
            <div id="doc" class="tab-pane fade">

              <div class="col-lg-12 box-shadow">                
                <%= f.fields_for :driver_license do |d| %>
                  <div class="row">					                        	
                    <div class="col-md-3">
                      <%= f.label :number_cnh, :class => 'control-label' %>
                      <%= d.text_field :number_cnh, autocomplete: "off", :class => 'form-control' %>                    
                    </div>
                    <div class="col-md-3">
                      <%= f.label :category_cnh, :class => 'control-label' %>
                      <%= d.text_field :category_cnh, autocomplete: "off", :class => 'form-control' %>                    
                    </div>
                    <div class="col-md-3">
                      <%= f.label :date_issue, :class => 'control-label' %>
                      <div class="input-group">
                        <%= d.text_field :date_issue, :data => {"date-format" => "DD/MM/YYYY"}, class: 'form-control datepicker' %>
                        <span class="input-group-addon">
                          <i class="fa fa-calendar btnCalendar btnCalendarDateIssue"></i>
                        </span>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <%= f.label :expering_date, :class => 'control-label' %>
                      <div class="input-group">
                        <%= d.text_field :expering_date, :data => {"date-format" => "DD/MM/YYYY"}, class: 'form-control datepicker' %>
                        <span class="input-group-addon">
                          <i class="fa fa-calendar btnCalendar btnCalendarDateExpering"></i>
                        </span>
                      </div>
                    </div>
                  </div>	
                <% end %>

                <div class="row">					                        	
                  <div class="col-md-5">
                    <%= f.collection_select(:marital_state_id, MaritalState.all.order(:description), :id, :description,
                        {:prompt => 'Estado Civil'}, {:class => 'btn btn-warning custom-select'}) %>
                  </div>
                  <div class="col-md-5">     
                    <%= f.label :wifes_name, :class => 'control-label' %>               
                    <%= f.text_field :wifes_name, autocomplete: "off", :class => 'form-control' %>
                  </div>
                  <div class="col-md-2">
                    <%= f.label :among_sun, :class => 'control-label' %>
                    <%= f.number_field :among_sun, input_html: {value: '0', step:'1'}, :class => 'form-control' %>                                               
                  </div>
                </div>

                <div class="row">					                        	
                  <div class="col-md-5">
                     <%= f.collection_select(:degree_education_id, DegreeEducation.all.order(:description), :id, :description,
                        {:prompt => 'Grau de escolaridade'}, {:class => 'btn btn-default custom-select'}) %>
                  </div>
                  <div class="col-md-7">  
                    <%= f.label :course, :class => 'control-label' %>                  
                    <%= f.text_field :course, :class => 'form-control' %>
                  </div>
                </div>

                <%= f.fields_for :deficiency_person do |dp| %>
                  <div class="row">
                    <div class="col-md-4">
                      <%= f.label :chronic_disease, :class => 'control-label' %>
                      <%= dp.text_area :chronic_disease, :class => 'form-control', :size => "40x2" %>                                        
                    </div>	
                    <div class="col-md-4">
                      <%= f.label :controlled_medication, :class => 'control-label' %>
                      <%= dp.text_area :controlled_medication, :class => 'form-control', :size => "40x2" %>                                                              
                    </div>          
                    <div class="col-md-4">
                      <%= f.label :motive, :class => 'control-label' %>
                      <%= f.text_area :motive, :class => 'form-control', :size => "40x2" %>                                        
                    </div>          
                  </div>
                <% end %>

                <%= f.fields_for :occupation do |o| %>
                  <div class="row">                            
                    <div class="col-md-4">
                      <%= f.label :description, :class => 'control-label' %>
                      <%= o.text_field :description, :class => 'form-control' %>                      
                    </div>	
                    <div class="col-md-2">
                      <%= f.label :experience_time, :class => 'control-label' %>
                      <%= o.text_field :experience_time, :class => 'form-control' %>                      
                    </div>  
                    <div class="col-md-2">	 
                      <%= f.label :height, :class => 'control-label' %>
                      <%= f.text_field :height, :class => 'form-control' %>                           
                    </div> 
                    <div class="col-md-4">
                      <%= f.label :complementary_information, :class => 'control-label' %>
                      <%= f.text_field :complementary_information, :class => 'form-control' %>                                                              
                    </div>                 
                  </div>

                  <div class="row">		
                    <div class="col-lg-4">
                      <span class="badge badge-success">Endereço profissional:</span>
                    </div>
                    <div class="col-lg-8"></div>
                  </div>

                  <%= o.fields_for :address do |adp| %>
                    <div class="row">
                      <div class="col-md-4">
                        <%= f.label :zip_code, :class => 'control-label' %>
                        <%= adp.text_field :zip_code, :class => 'form-control' %>
                      </div>
                      <div class="col-md-8">
                        <%= f.label :street, :class => 'control-label' %>
                        <%= adp.text_field :street, :class => 'form-control' %>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-4">
                        <%= f.label :number, :class => 'control-label' %>
                        <%= adp.text_field :number, :class => 'form-control' %>
                      </div>

                      <div class="col-md-8">
                        <%= f.label :complement, :class => 'control-label' %>
                        <%= adp.text_field :complement, :class => 'form-control' %>
                      </div>
                    </div>
                      
                    <div class="row">
                      <div class="col-md-4">
                        <%= f.label :reference, :class => 'control-label' %>
                        <%= adp.text_field :reference, :class => 'form-control' %>
                      </div>

                      <div class="col-md-8">
                        <%= f.label :neighbourhood, :class => 'control-label' %>
                        <%= adp.text_field :neighbourhood, :class => 'form-control' %>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-4">
                        <%= adp.collection_select(:state_id, State.all.order(:name).all, :id, :name,
                          {:prompt => 'Estado'}, {:class => 'btn btn-success custom-select', data: {style: "select-with-transition"}}) %>
                      </div>
                      <div class="col-md-8">
                        <%= adp.select(:city_id, City.where(:state_id => adp.object.state_id ).collect{|s| [s.name, s.id]}, 
                          {:prompt => 'Cidade'}, {:class => 'btn btn-primary custom-select', data: {style: "select-with-transition"}} ) %>  
                      </div>
                    </div>
                  <% end %>
                <% end %>                
                <%= f.hidden_field :fingerprint %>                                                                            
              </div>
            </div> <!-- fim tab documentos -->
            <div id="biometria" class="tab-pane fade">
              <div class="col-12 box-shadow">  
                <div class="row">
                  <div class="col-12" align="center">
                    <applet name="NitgenApplet" codebase="/" code="br.com.sistemabinario.biometria.NitgenApplet.class" archive="NitgenApplet.jar?v=1" width="360" height="170">
                      <param name="Caller-Allowable-Codebase" value = "*">
                          <param name="Permissions" value="all-permissions" />
                          <param name="separate_jvm" value="true"/>
                    </applet>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12" align="center">
                    <button type="button" width="100%" class="btn btn-success" id="btnLerBiometria">Ler biometria</button>
                  </div>
                </div>
              </div>
            </div>
            <% unless @tuitionPeople.nil? %>
              <%= render :partial => 'tuitions_person' %> 
            <% end%>
          </div>

          <div class="row">
            <div class="col-lg-2">
              <button class="btn btn-danger btn-round btn-icon" id="btnBiometria"
                        style="margin-left: 35px; display:none;"><i class="material-icons">fingerprint</i></button>
            </div>
            <div class="col-lg-10">
              <div class="btn-group pull-right">
                <%= f.submit nil, :class => 'btn btn-success' %>
                <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                          admin_people_path, :class => 'btn btn-danger' %>
              </div>
            </div>
          </div> 
          
        </div>
      </div>


<% end %>

<script> 
  jQuery(function($){
    md.initFormExtendedDatetimepickers();

    var videoStream = null;

    var webcamScreen =  "<div class=\"modal fade\" id=\"webcamModal\" role=\"dialog\">"+
                        "  <div class=\"modal-dialog\">"+
                        "    <div class=\"modal-content\">"+
                        "      <div class=\"modal-header\">"+
                        "          <h4 class=\"modal-title\">Webcam</h4>"+
                        "          <button type=\"button\" class=\"close\" id=\"closeModal\" data-dismiss=\"modal\"><span>×</span></button>"+                        
                        "      </div>"+
                        "      <div class=\"modal-body\" id=\"videoCam\" align=\"center\"></div>"+
                        "     <div class=\"modal-footer btn-group\">"+
                        "          <button type=\"button\" class=\"btn btn-success\" id=\"btnCapturarFoto\" >Capturar</button>	"		+
                        "          <button type=\"button\" class=\"btn btn-danger\" data-dismiss=\"modal\" id=\"btnFecharWebcam\">Fechar</button>"+
                        "      </div>"+
                        "    </div>"+
                        "  </div>"+
                        "</div>";

  var biometriaScreen = "<div class=\"modal fade\" id=\"biometriaModal\" role=\"dialog\">"+
                        "  <div class=\"modal-dialog\">"+
                        "    <div class=\"modal-content\">"+
                        "      <div class=\"modal-header\">"+
                        "          <h4 class=\"modal-title\">Cadastro biométrico</h4>"+
                        "          <button type=\"button\" class=\"close\" data-dismiss=\"modal\"><span>×</span></button>"+                            
                        "      </div>"+
                        "      <div class=\"modal-body\">"+
                        "         <applet name=\"NitgenApplet\" codebase=\"/\" code=\"br.pucpr.pergamum.biometria.NitgenApplet.class\" archive=\"NitgenAppletSigned.jar?v=13\" width=\"100%\" height=\"170\">"+
                        "           <param name=\"Caller-Allowable-Codebase\" value=\"*\">"+
                        "           <param name=\"Permissions\" value=\"all-permissions\" />"+
                        "           <param name=\"separate_jvm\" value=\"true\"/>"+
                        "         </applet>"+
                        "      </div>"+
                        "      <div class=\"modal-footer btn-group\">"+
                        "          <button type=\"button\" class=\"btn btn-success\" id=\"btnLerBiometria\">Ler biometria</button>"+			
                        "          <button type=\"button\" class=\"btn btn-danger\" data-dismiss=\"modal\" id=\"btnFecharBiometria\">Fechar</button>"+
                        "      </div>"+
                        "    </div>"+
                        "  </div>"+
                        "</div>"; 
    
    $("#btnWebcam").on("click", function(event) {
      event.preventDefault();

      $(webcamScreen).appendTo("body");

      var video = document.createElement('video'), canvas;
      video.setAttribute("width", "320");
      video.setAttribute("height", "240");
      video.setAttribute("autoplay", "");
      video.setAttribute("id", "webcam");

      $('#videoCam').html(video);

      /* Script webcam */
      //var video = document.querySelector('video')      
      /**
        *  generates a still frame image from the stream in the <video>
        *  appends the image to the <body>
      */
      function takeSnapshot() {
        var img = document.querySelector('image') || document.createElement('image');
        var context;
        var width = video.offsetWidth
          , height = video.offsetHeight;

        canvas = canvas || document.createElement('canvas');
        canvas.width = width;
        canvas.height = height;

        context = canvas.getContext('2d');
        context.drawImage(video, 0, 0, width, height);
        var dataURL = canvas.toDataURL("image/png");
        
        $("#data_uri").val(dataURL);

        //img.src = canvas.toDataURL('image/png');
        $("#image-output").attr("src", canvas.toDataURL('image/png'));
        //$("#person_photo").attr("val", decoded_image);
        //document.body.appendChild(img);
      }

      function stop(videoElem){        
        let stream = videoElem.srcObject;
        let tracks = stream.getTracks();

        tracks.forEach(function(track) {
          track.stop();
        });

        videoElem.srcObject = null;
      }

      // Older browsers might not implement mediaDevices at all, so we set an empty object first
      if (navigator.mediaDevices === undefined) {
        navigator.mediaDevices = {};
      }

      // Some browsers partially implement mediaDevices. We can't just assign an object
      // with getUserMedia as it would overwrite existing properties.
      // Here, we will just add the getUserMedia property if it's missing.
      if (navigator.mediaDevices.getUserMedia === undefined) {
        navigator.mediaDevices.getUserMedia = function(constraints) {

          // First get ahold of the legacy getUserMedia, if present
          var getUserMedia = navigator.webkitGetUserMedia || navigator.mozGetUserMedia;

          // Some browsers just don't implement it - return a rejected promise with an error
          // to keep a consistent interface
          if (!getUserMedia) {
            return Promise.reject(new Error('getUserMedia is not implemented in this browser'));
          }

          // Otherwise, wrap the call to the old navigator.getUserMedia with a Promise
          return new Promise(function(resolve, reject) {
            getUserMedia.call(navigator, constraints, resolve, reject);
          });
        }
      }

      // use MediaDevices API
      // docs: https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia
      if (navigator.mediaDevices) {
        // access the web cam
        navigator.mediaDevices.getUserMedia({video: true})
          // permission granted:
          .then(function(stream) {

            $("#webcamModal").modal();  

            var video = document.querySelector('video');

            // Older browsers may not have srcObject
            if ("srcObject" in video) {
              video.srcObject = stream;
            } else {
              // Avoid using this in new browsers, as it is going away.
              video.src = window.URL.createObjectURL(stream);
            }
            video.onloadedmetadata = function(e) {
              video.play();
            };
            video.addEventListener('click', takeSnapshot); 
            $("#btnCapturarFoto").on("click", function(event) {
              event.preventDefault();            
              takeSnapshot();
            });    

            function closeVideo(){
              stop(video);

              $('#webcamModal').modal('hide');   
              $( '#webcamModal' ).remove();
              
              $('#videoCam').html("");
              $('.modal-backdrop').remove(); 
              $( '#webcamModal' ).remove();
            }

            $("#closeModal").on("click", function(event) {
              event.preventDefault();                   
              closeVideo();
            });

            $("#btnFecharWebcam").on("click", function(event) {
              event.preventDefault();                                 
              closeVideo();
            });

          })
          // permission denied:
          .catch(function(error) {
            alert('Não foi possível acessar a câmera. Erro: ' + error.name );
          });          
      }            
    }); 
    
    $("#file-input").on("change", function(event) {
      event.preventDefault();
      var output = document.getElementById('image-output');
      output.src = URL.createObjectURL(event.target.files[0]);
    });

    $("#image-output").on("click", function(event) {
      event.preventDefault();
      $("#file-input").click();
    }); 

    $("#btnFecharWebcam").on("click", function(event) {
      event.preventDefault();     
      
      $('#webcamModal').modal('hide');   
      $( '#webcamModal' ).remove();
      stop();
      $('#videoCam').html("");
      $('.modal-backdrop').remove(); 
      $( '#webcamModal' ).remove();
    });
    
    $("#btnExcluirFoto").on("click", function(event) {
      event.preventDefault();      
      $("#image-output").attr("src", "/assets/foto_pessoa-2052e00ecae3107cda8ff0b8b8d1fae4ef457df77a49808cab192d6d3f5a88b7.png");
      $("#data_uri").val("");
    });

    /* Fim webcam */
    $('.selectpicker').selectpicker({
        width: '100%'
    });   

    if( $('#person_fingerprint').val().length > 0 ){
      $( "#btnBiometria" ).attr("class","btn btn-success btn-round btn-icon");
      $( "#btnLerBiometria" ).attr("class","btn btn-successn");
    }else{
      $( "#btnBiometria" ).attr("class","btn btn-danger btn-round btn-icon");
      $( "#btnLerBiometria" ).attr("class","btn btn-danger");
    }

    $('#liPessoa').addClass("active");
    
    $("#person_name").focus();

    $("#btnFecharBiometria").on("click", function(event) {
      event.preventDefault();   
      
      $(biometriaScreen).detach(); 
      $(biometriaScreen).modal('hide');                    
      $('.modal-backdrop').remove();  
            
    });
    
    $("#btnBiometria").on("click", function(event) {                      
      $(biometriaScreen).modal('show');
      event.preventDefault();  
    });  

    $('.modal').modal({
        backdrop: 'static',
        keyboard: false
    });

    $("#btnLerBiometria").on("click", function(event) {      
      var template = document.NitgenApplet.getTemplate();
      $("#person_fingerprint").val(template);
      if( $("#person_fingerprint").val().length > 0){
        $("#btnBiometria").addClass('btn btn');
      }
      verificarErro();
      event.preventDefault();
    });    

    function verificarErro(){
      var codErro = document.NitgenApplet.getCodErro();
      
      if (codErro != 0){
        var msgErro = document.NitgenApplet.getMensagemErro(codErro);        
        alert( msgErro );
      }
    }          

    $(".btnCalendarDateBorn").on("click", function() {
      $('#person_date_born').focus();
    });

    $(".btnCalendarDateEnroll").on("click", function() {
      $('#person_date_enroll').focus();
    });

    $(".btnCalendarDateIssue").on("click", function() {
      $('#person_driver_license_attributes_date_issue').focus();
    });

    $(".btnCalendarExperingDate").on("click", function() {
      $('#person_driver_license_attributes_expering_date').focus();
    });
    
    $(".btnCalendar").css("cursor", "pointer");
    $(".form-control").css("margin", "7px 1px !important");

    $("#person_date_born").mask("99/99/9999");
    $("#person_date_enroll").mask("99/99/9999");
    $("#person_driver_license_attributes_date_issue").mask("99/99/9999");
    $("#person_driver_license_attributes_expering_date").mask("99/99/9999");

    $("#person_telephone_residence").mask("(99)9999-99999");
    $("#person_smartphone_number").mask("(99)9999-99999");
    $("#person_telephone_message").mask("(99)9999-99999");
    jQuery("#person_telephone_residence")
      .mask("(99) 9999-9999?9")
      .focusout(function (event) {  
          var target, phone, element;  
          target = (event.currentTarget) ? event.currentTarget : event.srcElement;  
          phone = target.value.replace(/\D/g, '');
          element = $(target);  
          element.unmask();  
          if(phone.length > 10) {  
              element.mask("(99) 99999-999?9");  
          } else {  
              element.mask("(99) 9999-9999?9");  
          }  
      });
    jQuery("#person_smartphone_number")
      .mask("(99) 9999-9999?9")
      .focusout(function (event) {  
          var target, phone, element;  
          target = (event.currentTarget) ? event.currentTarget : event.srcElement;  
          phone = target.value.replace(/\D/g, '');
          element = $(target);  
          element.unmask();  
          if(phone.length > 10) {  
              element.mask("(99) 99999-999?9");  
          } else {  
              element.mask("(99) 9999-9999?9");  
          }  
      });
    jQuery("#person_telephone_message")
      .mask("(99) 9999-9999?9")
      .focusout(function (event) {  
          var target, phone, element;  
          target = (event.currentTarget) ? event.currentTarget : event.srcElement;  
          phone = target.value.replace(/\D/g, '');
          element = $(target);  
          element.unmask();  
          if(phone.length > 10) {  
              element.mask("(99) 99999-999?9");  
          } else {  
              element.mask("(99) 9999-9999?9");  
          }  
      });
    $("#person_address_attributes_zip_code").on("blur", function(event) { 
      if( $('input#person_address_attributes_zip_code').val().length > 0) {
        getCepResidencial(event);
      }
    });
    $("#person_cpf").mask("999.999.999-99");

    $("#person_address_attributes_zip_code").mask("99.999-999");
    $("#person_occupation_attributes_address_attributes_zip_code").mask("99.999-999");

    $("#person_address_attributes_zip_code").on("blur", function(event) { 
      if( $('input#person_address_attributes_zip_code').val().length > 0) {
        getCepResidencial(event);
      }
    });

    $("#person_occupation_attributes_address_attributes_zip_code").on("blur", function(event) { 
      if( $(this).val().length > 0) {
        getCepProfissional(event);
      }
    });

    var city_id;
    var city_id_profissional;

    var getCepProfissional = function(event) {
      event.preventDefault();
      var cep = $('#person_address_attributes_zip_code').val();
  
      $.ajax({
        url: "/admin/people/" + 99 +"/get_cep/",
        type: "GET",
        data: {"cep" : cep.replace('.','').replace('-','')},
        success: function(data, status, jqXHR){
          var json = jqXHR.responseJSON;
          var state_id = json.state[0].id;
          city_id_profissional = json.city[0].id;

          $('#person_occupation_attributes_address_attributes_street').val(json.address.response.logradouro);
          $('#person_occupation_attributes_address_attributes_neighbourhood').val(json.address.response.bairro);          
          $("#person_occupation_attributes_address_attributes_state_id").val(state_id );          
        },
        error: function(o, status, error) {
          var json = o.responseJSON;
          alert(json);
        }
      });
    };

    var getCepResidencial = function(event) {
        event.preventDefault();
        var cep = $('#person_address_attributes_zip_code').val().replace('.','').replace('-','');
    
        $.ajax({
          url: "/admin/people/" + 99 +"/get_cep/",
          type: "GET",
          data: {"cep" : cep},
          success: function(data, status, jqXHR){
            var json = jqXHR.responseJSON;
            var state_id = json.state[0].id;
            city_id = json.city[0].id;

            $('#person_address_attributes_street').val(json.address.response.logradouro);
            $('#person_address_attributes_neighbourhood').val(json.address.response.bairro);            
            $("#person_address_attributes_state_id").val(state_id );            
          },
          error: function(o, status, error) {
            var json = o.responseJSON;
            alert(json);
          }
        });
      };      
  });

  $('#person_address_attributes_state_id').change(function () {
    var id = $(this).val(); 
    
    $.ajax({
      url: "/admin/companies/" + 99 +"/load_cities/",
      type: "GET",
      data: {"state_id" : id},
      success: function(data, status, jqXHR){
        var json = jqXHR.responseJSON;          
        var options = '';
        
        $("#person_address_attributes_city_id").empty();

        for (var i = 0; i < json.length; i++) {
          options += '<option value="' + json[i].id + '">' + json[i].name + '</option>';
        }
        $("#person_address_attributes_city_id").append(options);
        $("#person_address_attributes_city_id").val(city_id);
        
      },
      error: function(o, status, error) {
        var json = o.responseJSON;
        alert(json);
      }
    });
  });

  $('#person_occupation_attributes_address_attributes_state_id').change(function () {
    var id = $(this).val(); 
    
    $.ajax({
      url: "/admin/companies/" + 99 +"/load_cities/",
      type: "GET",
      data: {"state_id" : id},
      success: function(data, status, jqXHR){
        var json = jqXHR.responseJSON;          
        var options = '';
        
        $("#person_occupation_attributes_address_attributes_city_id").empty();

        for (var i = 0; i < json.length; i++) {
          options += '<option value="' + json[i].id + '">' + json[i].name + '</option>';
        }
        $("#person_occupation_attributes_address_attributes_city_id").append(options);        

        $("#person_occupation_attributes_address_attributes_city_id").val(city_id_profissional);
        
      },
      error: function(o, status, error) {
        var json = o.responseJSON;
        alert(json);
      }
    });
  });    
</script>