<!DOCTYPE html>
<html>
  <head>
    <title>Igreja Céu da Nova Vida</title>  
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />      
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
        
    <div class="wrapper">
        <nav class="navbar navbar-expand-lg bg-success">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Igreja Céu da Nova Vida</a>
                <button class="navbar-toggler navbar-toggle" type="button" data-toggle="collapse" data-target="#example-navbar-icons" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                

                <div class="collapse navbar-collapse" id="example-navbar-icons">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">                           
                            Perfil: <%= profile_logged.profile.description %>
                        </li>
                        <li class="nav-item">
                            <a href="/users/sign_out" class="nav-link" data-method="delete">
                                <i class="material-icons" aria-hidden="true">power_settings_new</i>
                            </a>                            
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="sidebar" data-color="green" >            
            <div class="sidebar-wrapper" >
                <ul class="nav">
                    <% if permission 1 %>
                    <li id="liHome" class="<%= active_class(admin_welcome_index_path) %>">
                        <a href="/admin/welcome/index">
                            <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <% end %>
                    
                    <% if permission 2 %>
                    <li id="liSede" class="<%= active_class(admin_companies_path) %>">
                        <a href="/admin/companies">
                            <i class="material-icons">home</i>
                            <p>Sedes</p>
                        </a>
                    </li>
                    <% end %>

                    <% if permission 3 %>
                    <li id="liCategoria" class="<%= active_class(admin_categories_path) %>">
                        <a href="/admin/categories">
                            <i class="material-icons">extension</i>
                            <p>Categorias</p>
                        </a>
                    </li>
                    <% end %>

                    <% if permission 4 %>
                    <li id="liPessoa" class="<%= active_class(admin_people_path) %>">
                        <a href="/admin/people">
                            <i class="material-icons">person</i>
                            <p>Pessoas</p>
                        </a>
                    </li>
                    <% end %>

                    <% if permission 5 %>
                    <li id="liProduto" class="<%= active_class(admin_products_path) %>">
                        <a href="/admin/products">
                            <i class="material-icons">add_shopping_cart</i>
                            <p>Produtos</p>
                        </a>
                    </li>
                    <% end %>

                    <% if permission 6 %>                    
                    <li class="nav-item ">
                        <a class="nav-link collapsed" data-toggle="collapse" href="#mnEmprestimo" aria-expanded="false">
                        <i class="material-icons">date_range</i>
                        <p> Empréstimos
                            <b class="caret"></b>
                        </p>
                        </a>
                        <div class="collapse" id="mnEmprestimo" style="">
                        <ul class="nav">
                            <li id="liNovoEmprestimo" class="nav-item ">
                                <a class="nav-link" href="/admin/leans/new">
                                    <span class="sidebar-mini"> EM </span>
                                    <span class="sidebar-normal"> Emprestar </span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/admin/leans">
                                    <span class="sidebar-mini"> PE </span>
                                    <span class="sidebar-normal"> Emprestados </span>
                                </a>
                            </li>
                        </ul>
                        </div>
                    </li>                    
                    <% end %>

                    <% #if permission 7 %>
                    <!--
                    <li id="liEmail" class="<%= active_class(admin_emails_path) %>">
                        <a href="/admin/emails">
                            <i class="material-icons">mailn</i>
                            <p>Envio de e-mails</p>
                        </a>
                    </li> 
                    -->  
                    <% #end %>
                    
                    <% if permission 8 %>
                    <li id="liCaixa" class="<%= active_class(admin_cashes_path) %>">
                        <a href="/admin/cashes">
                            <i class="material-icons">library_books</i>
                            <p>Livro Caixa</p>
                        </a>
                    </li>  
                    <% end %>
                    
                    <% if permission 9 %>
                    <li id="liDespesa" class="<%= active_class(admin_expenses_path) %>">
                        <a href="/admin/expenses">
                            <i class="material-icons">unarchive</i>
                            <p>Despesas</p>
                        </a>
                    </li>   
                    <% end %>

                    <% if permission 10 %>                                                                      
                    <li id="liCheckIn" class="<%= active_class(new_admin_checkin_path) %>">
                        <a href="/admin/checkins/new">
                            <i class="material-icons">fingerprint</i>
                            <p>CheckIn Biométrico</p>
                        </a>
                    </li>
                    <% end %>

                    <% if permission 11 %>
                    <li id="liCobranca" class="<%= active_class(admin_invoices_path) %>">
                        <a href="/admin/invoices">
                            <i class="material-icons">attach_money</i>
                            <p>Cobranças</p>
                        </a>
                    </li> 
                    <% end %>

                    <% if permission 12 %>
                    <li id="liTiposCobranca" class="<%= active_class(admin_invoice_types_path) %>">
                        <a href="/admin/invoice_types">
                            <i class="material-icons">euro_symbol</i>
                            <p>Tipos de Cobrança</p>
                        </a>
                    </li> 
                    <% end %>                                                       

                    <% if permission 13 %>
                    <li id="liMensalidade" class="<%= active_class(admin_tuitions_path) %>">
                        <a href="/admin/tuitions">
                            <i class="material-icons">monetization_on</i>
                            <p>Mensalidades</p>
                        </a>
                    </li>   
                    <% end %>

                    <li id="liTiposPagamento" class="<%= active_class(admin_payment_types_path) %>">
                        <a href="/admin/payment_types">
                            <i class="material-icons">card_membership</i>
                            <p>Tipos de Pagamento</p>
                        </a>
                    </li>      

                    <% if permission 14 %>
                    <li id="liPagamento" class="<%= active_class(admin_payments_path) %>">
                        <a href="/admin/payments">
                            <i class="material-icons">credit_card</i>
                            <p>Pagamentos</p>
                        </a>
                    </li>   
                    <% end %>                   
                    
                    <% if permission 15 %>
                    <li class="nav-item" onclick="resize();">
                        <a class="nav-link collapsed" data-toggle="collapse" href="#formsExamples" aria-expanded="false">
                        <i class="material-icons">lock</i>
                        <p> Segurança
                            <b class="caret"></b>
                        </p>
                        </a>
                        <div class="collapse" id="formsExamples" style="">
                        <ul class="nav">                                                                                      
                            <li class="nav-item ">
                            <a class="nav-link" href="/admin/profiles">
                                <span class="sidebar-mini"> PE </span>
                                <p class="sidebar-normal"> Perfis </p>
                            </a>
                            </li>
                            <li class="nav-item ">
                            <a class="nav-link" href="/admin/profile_permissions">
                                <span class="sidebar-mini"> PM </span>
                                <p class="sidebar-normal"> Permissões por Perfil </p>
                            </a>
                            </li>
                            <li class="nav-item ">
                            <a class="nav-link" href="/admin/users">
                                <span class="sidebar-mini"> US </span>
                                <p class="sidebar-normal"> Usuários </p>                                
                            </a>
                            </li>   
                        </ul>
                        </div>
                    </li>
                    <% end %>

                    <li id="liLogout">
                        <a href="/users/sign_out" data-method="delete" >
                            <i class="material-icons text-gray">power_settings_new</i>
                            <p>Logout</p>
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>        

        <div class="main-panel">           
            <div class="container">
                <%= yield.force_encoding("UTF-8")  %>
            </div>
        </div>

    </div>
  </body>
</html>

<script>
$(document).ready(function() {
    var win = $(this);
    var actualHeight = win.height();
    
    $(window).scroll(function() {                
        $('.sidebar').css("min-height", actualHeight);  
        $('.sidebar').css("height", actualHeight); 
    });    
});

function resize(){    
    setTimeout(function() {
        try{
            var win = $(this);
            var actualHeight = win.height();
            
            $(window).scroll(function() {                
                $('.sidebar').css("min-height", actualHeight);  
                $('.sidebar').css("height", actualHeight); 
            });
        } catch(ex){
            return false;
        }
    }, 5000);      
}
</script>